parameters:
	ignoreErrors:
		-
			rawMessage: 'Class cognitive complexity is 72, keep it under 40'
			identifier: complexity.classLike
			count: 1
			path: src/Service/Rule/RemoveUnsafeElements.php

		-
			rawMessage: Use explicit return value over magic &reference
			identifier: symplify.noReference
			count: 2
			path: src/Service/Rule/ScopeSvgStyles.php

		-
			rawMessage: 'Call to static method PHPUnit\Framework\Assert::assertSame() with array{true, false} and array<string, bool> will always evaluate to false.'
			identifier: staticMethod.impossibleType
			count: 1
			path: tests/Unit/Console/Input/ConfigLoaderTest.php

		-
			rawMessage: 'Parameter #1 $stream of function rewind expects resource, mixed given.'
			identifier: argument.type
			count: 1
			path: tests/Unit/Console/Output/Stream/MemoryStreamTest.php

		-
			rawMessage: Class "MathiasReker\PhpSvgOptimizer\Tests\Unit\Console\Output\Stream\TestStream" is not allowed to extend "MathiasReker\PhpSvgOptimizer\Console\Output\Stream\StdoutStream".
			identifier: ergebnis.noExtends
			count: 1
			path: tests/Unit/Console/Output/Stream/TestStream.php

		-
			rawMessage: Only abstract classes can be extended
			identifier: symplify.forbiddenExtendOfNonAbstractClass
			count: 1
			path: tests/Unit/Console/Output/Stream/TestStream.php

		-
			rawMessage: 'Property MathiasReker\PhpSvgOptimizer\Console\Output\Stream\AbstractStream::$stream (resource) does not accept resource|false.'
			identifier: assign.propertyType
			count: 1
			path: tests/Unit/Console/Output/Stream/TestStream.php

		-
			rawMessage: 'Parameter #1 $domDocument of method MathiasReker\PhpSvgOptimizer\Service\Provider\AbstractProvider::optimize() expects DOMDocument, null given.'
			identifier: argument.type
			count: 1
			path: tests/Unit/Service/Provider/FileProviderTest.php
